extends layout

block content

  #banner.page-header
    .row.col-xs-12
        h1 #{location.name}
    .row
      .col-xs-12.col-md-9
        .row
          .col-xs-12.col-sm-5
            p.rating
              +outputRating(location.rating)
            p #{location.address}
            .panel.panel-primary
              .panel-heading
                h2.panel-title Opening hours
              .panel-body
                each openingTime in location.openingTimes
                  if openingTime.closed
                    p #{openingTime.days} : closed
                  else
                    p #{openingTime.days} : #{openingTime.opening} - #{openingTime.closing}
            .panel.panel-primary
              .panel-heading
                h2.panel-title Facilities
              .panel-body
                each facility in location.facilities
                  span.label.label-warning
                    span.glyphicon.glyphicon-ok
                    | &nbsp;#{facility}
                  | &nbsp;
          .col-xs-12.col-sm-7.location-map
            .panel.panel-primary
              .panel-heading
                h2.panel-title Location map
              .panel-body
                iframe(width='100%', height='350px', frameborder='0', style='border:0',
                  src='https://www.google.com/maps/embed/v1/place?key=AIzaSyDB_eaVL5S7HtL2lIgb4yYM-opEDr3YG_U\
                  &q=#{encodeURIComponent(location.name + " " + location.address)}')
        .row
          .col-xs-12
            .panel.panel-primary.review-panel
              .panel-heading
                .pull-right
                  a.btn.btn-default.btn-xs.pull-right(href='/location/review/new') Add review
                h2.panel-title Customer reviews
              .panel-body.review-container
                .row
                  each review in location.reviews
                    .review.col-xs-12
                      .review-header
                          span.rating
                            +outputRating(review.rating)
                          span.reviewAuthor #{review.author.displayName}
                          small.reviewTimestamp
                            +formatDate(review.createdOn)
                      .review-content
                        p #{review.reviewText}

      .col-xs-12.col-md-3
        p.lead
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lorem massa, lacinia at velit non, facilisis bibendum nulla. Integer vel.
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lorem massa, lacinia at velit non, facilisis bibendum nulla. Integer vel.
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lorem massa, lacinia at velit non, facilisis bibendum nulla. Integer vel.